  
* {
  margin: 0;
  padding: 0;
}

header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

body {
  background-image: linear-gradient(120deg, #87a8e7 0%, #4858b1 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.Elements { 
  display: flex;
  justify-content: space-evenly;
}

form {
  min-height: 50vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.education, .experience {
  min-height: 8vh;
  width: 240px;
  padding: 8px;
}

.fullDisplay {
  min-height: 30vh;
  min-width: 50vh;
  border: 1px solid rgb(205, 221, 243);
  justify-content: baseline;
  padding: 10px;
}

 .display { 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
 }

 .submit { 
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #199e2a;
  border: 0px;
}

#edit { 
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #e6413b;
  border: 0px;
  display: none;
  width: 30px;
  height: 20px;
}

.nameDisplay {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 200;
}

.phoneDisplay, .emailDisplay, .experienceDisplay, .educationDisplay { 
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}